version: '3.6'

services:
  php-fpm:
    environment:
      GITLAB_TOKEN: EnterYourSecretTokenHere
      GITLAB_SERVER_URL: 'https://gitlab.com'
      WKHTMLTOPDF_PATH: '/usr/bin/wkhtmltopdf'
      WKHTMLTOIMAGE_PATH: '/usr/bin/wkhtmltoimage'
