parameters:
    level: max
    paths:
        - ./src
    fileExtensions:
        - php
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/tests/*
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#InvalidArgumentException is not subtype of Throwable#'
        - '#activateByRoute() expects array<KevinPapst\\AdminLTEBundle\\Model\\MenuItemModel>, array<KevinPapst\\AdminLTEBundle\\Model\\MenuItemInterface|Knp\\Menu\\MenuItem> given#'