{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block avanzu_logo %}
    <a href="{{ path('homepage') }}" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        {{ block('title') }}
    </a>
{% endblock %}

{% block title %}Gitlab TimeTrack{% endblock %}
{% block page_title %}Gitlab TimeTrack{% endblock %}