{% extends 'base.html.twig' %}

{% block page_subtitle %}Wellcome{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ numberOfProjects }}</h3>
                    <p>Projects tracked</p>
                </div>
                <div class="icon">
                    <i class="ion ion-folder"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ numberOfIssues }}</h3>
                    <p>Issues tracked</p>
                </div>
                <div class="icon">
                    <i class="ion ion-alert"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ totalTimeSpent|gitlab_time_format }}</h3>
                    <p>Total time spent</p>
                </div>
                <div class="icon">
                    <i class="ion ion-clock"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red-active">
                <div class="inner">
                    <h3>{{ totaleEstimatedTime|gitlab_time_format }}</h3>
                    <p>Total estimated time</p>
                </div>
                <div class="icon">
                    <i class="ion ion-calendar"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}