{% extends 'base.html.twig' %}

{% block page_subtitle %}Wellcome{% endblock %}

{% block page_content %}
    <a href="#" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Insert/Update projects
    </a>
{% endblock %}