<!DOCTYPE html>
<head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
    </style>
    <title>Gitlab TimeTrack - PDF Export</title>
    <style>
        body {
            font-family: 'Anonymous Pro', monospace;
        }

        table {
            border-collapse: collapse;
        }
        tr {
            border-bottom: 1px solid grey;
        }

        td {
            padding-right: 3px;
        }

        th {
            font-weight: bold;
        }

        td.right-align, th.right-align {
            text-align: right;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="content-wrapper" style="margin-left: 0">
        <section class="content">
            {% block page_content %}{% endblock %}
        </section>
    </div>
</div>
</body>
</html>
